<div class="row mt-4">
  <div class="col-md-2">
    <ul class="nav nav-pills flex-column nav-stacked">
      <li class="nav-item">
        <a class="nav-link active" href="#!/">Home</a>
      </li>

      <li class="nav-item">
        <a class="nav-link" href="#!/createPost">Add Post</a>
      </li>
    </ul>
  </div>
  <div class="col-md-10">
    <h4>VIEW</h4>
    <fieldset>
      <h4>{{post.title}}</h4>
      <p>{{post.description}}</p>
      <p>Publisehd on: {{post.published_on}}</p>
    </fieldset>
    <a href="#!/" class="btn btn-warning">BACK</a>

    
  </div>
</div>
